.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #2f3640;
  color: white;
}

.App-Header {
  display: flex;
  justify-content: flex-start;
  min-height: 8vh;
  min-width: 98vw;
  margin: 2rem;
}

.App-Body {
  display: flex;
  flex-direction: row;
  min-height: 83vh;
  min-width: 100vw;
}